#content {
  margin-top: 10px;
}

#task-table {
  font-size: 0.75em;

  thead {
    td, th {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .header-command {
      width: 20px;
    }
    .header-no {
      width: 3em;
    }
    .header-description {

    }
    .header-status {
      width: 5em;
    }
    .header-owner {
      width: 1em;
    }
    .header-priority {
      width: 1em;
    }
    .header-estimate {
      width: 1em;
    }
    .header-remain {
      width: 1em;
    }
  }
  tbody {
    td, th {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .body-description {

    }
    .body-description-with-level {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 2px;
      border-left: 2px solid rgba(34, 36, 38, .1);
    }
  }
  tfoot {
    div {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}
